<h2 mat-dialog-title>Alta de Contribuidor</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="forma" (change)="formChanged()">
    <div class="grid-one_container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
    </div>
    <div class="grid-one_container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button (click)="submit()">Enviar</button>
  </mat-dialog-actions>
</mat-dialog-content>
