<p>inputs works!</p>

<!-- .group input(type="text" required) span.highlight span.bar label Name -->

<!-- <div class="group">
  <form action="">
    <input type="text" required />
    <label>Name</label>
    <span class="highlight"></span>
    <span class="bar"></span>
    <div class="btn-box">
      <button class="btn btn-submit">submit</button>
      <button class="btn btn-cancel">cancel</button>
      <button class="btn btn-link">link</button>
    </div>
  </form>
</div> -->

<div class="l-wrap">
  <div class="three-col-grid">
    <div class="grid-item">Grid item</div>
    <div class="grid-item">Grid item</div>
    <div class="grid-item">Grid item</div>
  </div>
</div>
