<div class="main_overview">
  <div class="overview_card">
    <div class="overview_card-info">Overview</div>
    <div class="overview_card-icon">Card</div>
  </div>
  <div class="overview_card">
    <div class="overview_card-info">Overview</div>
    <div class="overview_card-icon">Card</div>
  </div>
  <div class="overview_card">
    <div class="overview_card-info">Overview</div>
    <div class="overview_card-icon">Card</div>
  </div>
  <div class="overview_card">
    <div class="overview_card-info">Overview</div>
    <div class="overview_card-icon">Card</div>
  </div>
</div>
<div class="main_cards">
  <div class="card">Card</div>
  <div class="card">Card</div>
  <!-- <div class="card">Card</div> -->
</div>
