<app-page-header></app-page-header>
<div class="card-grid_container">
  <app-card-resumen
    [title]="'Asociados'"
    [value]="data?.total"
    [icon]="'groups'"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Activos'"
    [value]="data?.activos"
    [icon]="'person'"
    [color]="'blue-yale'"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Retirados'"
    [value]="data?.retirados"
    [icon]="'person'"
    [color]="'blue-olympic'"
  ></app-card-resumen>
</div>
<div class="grid-one_container">
  <app-birthdays></app-birthdays>
</div>
