<app-page-header
  [menuItems]="menuItems"
  [menuVisible]="true"
  (menuSelected)="openDialog($event, '300ms', '300ms')"
></app-page-header>

<div class="card-grid_container">
  <app-card-resumen
    [title]="'Recaudación Real'"
    [value]="data.total"
    [icon]="'query_stats'"
    [symbol]="true"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Ingreso del Período'"
    [value]="data.totalPeriodo"
    [icon]="'receipt_long'"
    [color]="'blue-olympic'"
    [symbol]="true"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Recaudación Total'"
    [value]="data.totalIncome"
    [icon]="'paid'"
    [color]="'blue-yale'"
    [symbol]="true"
  ></app-card-resumen>

  <app-card-resumen
    [title]="'Gasto Total'"
    [value]="data.expensesTotal"
    [icon]="'money_off'"
    [color]="'blue-olympic'"
    [symbol]="true"
  ></app-card-resumen>
</div>

<div class="grid-two_container">
  <app-expenses></app-expenses>
  <app-card-resumen
    [title]="'Saldo actual'"
    [value]="data.totalIncome - data.expensesTotal"
    [icon]="'account_balance'"
    [color]="'blue-olympic'"
    [symbol]="true"
  ></app-card-resumen>
</div>
