<app-page-header
  [menuItems]="menuItems"
  [menuVisible]="true"
  (menuSelected)="openDialog($event, '300ms', '300ms')"
></app-page-header>

<div class="card-grid_container">
  <app-card-resumen
    [title]="'Pagos'"
    [value]="data.total"
    [icon]="'query_stats'"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Saldos'"
    [value]="data.activos"
    [icon]="'account_balance'"
    [color]="'blue-yale'"
  ></app-card-resumen>
  <app-card-resumen
    [title]="'Recibos'"
    [value]="data.retirados"
    [icon]="'receipt_long'"
    [color]="'blue-olympic'"
  ></app-card-resumen>
  <!-- <app-card-resumen
    [title]="'Cumpleaños'"
    [value]="data.birthdays"
    [icon]="'cake'"
    [color]="'blue-olympic'"
  ></app-card-resumen> -->
</div>

<div class="grid-two_container">
  <app-account-plans></app-account-plans>
  <div class="overview_card">TABLA | CLIENTES CON DEUDA</div>
</div>
