.receipt {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 45px;
  height: 45px;
}
.customer-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.text {
  text-align: left;
  margin-bottom: 20px;
}
.text p:last-child {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
