<div *ngIf="data">
  <div class="receipt" id="receipt">
    <div class="header">
      <div class="logo">
        <img src="../../../../assets/img/logo/logo.png" alt="Logo" />
      </div>
      <div class="header-text">Asociación de Policias Retirados del Guairá</div>
      <div class="receipt-number">
        <div *ngIf="data.receiptNumber > 0">
          Recibo Nº: {{ data.receiptNumber }} <br />
        </div>
        Fecha: {{ data.date | date : "dd/MM/yy" : "+0003" }}
      </div>
    </div>
    <div class="text">
      <p>
        Recibimos de {{ data.customerId | datosCliente | async }}, la cantidad
        de Guaraníes: {{ data.amount | textoNumero }}
      </p>
    </div>
    <table>
      <tr>
        <th>Item</th>

        <th>Valor</th>
      </tr>
      <tr>
        <td>{{ data.description }}</td>
        <td>{{ data.amount | currency : "Gs" : "symbol" : "1.0-0" }}</td>
      </tr>
    </table>
    <br /><br /><br /><br /><br />
    <!-- <div class="footer">
      <div class="location-date">
        Fecha: {{ data.date | date : "dd/MM/yy" : "+0003" }}
      </div>

      <div class="signature">
        Firma<br />
        ______________________<br />
        Aclaración:
      </div>
    </div> -->
  </div>
</div>

<br />
<button mat-button (click)="exportPdf()">Exportar a PDF</button>
